@use "../abstracts/" as *;

.hours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $size-10;

  &>* {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin-block: auto;
      height: $size-6;
      width: 1px;
      background-color: $color-primary-800;
    }

    &::before {
      left: calc(($size-10 / -2) - 1px);
    }

    &::after {
      right: ($size-10 / -2);
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

@media (max-width: 59em) {


  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }



  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

}